<head>
<link rel="stylesheet" href="../styles/perfilesStyle.css">
</head>
<h2>Información de la cuenta</h2>
        <div id="contenidoPrincipal">
            <div class="card centerElement" style="width: 28rem" id="fotoUsuario">
                <img src="../assets/JuanPerezJPG.jpg" class="card-img-top" width="330" height="380">
                <div class="card-body" class="centerElement">
                    <h3>Juan Perez</h3>
                    <p class="centerElement">Suscripcion basica</p>
                </div>
            </div>
            <div>
                <div id="infoUsuario">
                    <label for="">Teléfono</label>
                    <div id="detallesUsuario" class="border border-black"> <label>+52462159778</label> </div>
                </div>
                <div id="infoUsuario">
                    <label for="">Correo</label>
                    <div id="detallesUsuario" class="border border-black"> <label>joshuacastillo@hotmail.com</label>
                    </div>
                </div>
                <div id="infoUsuario">
                    <label for="">Matricula</label>
                    <div id="detallesUsuario" class="border border-black"> <label>370846</label> </div>
                </div>
                <div id="infoUsuario">
                    <label for="">Tipo de Membresia</label>
                    <div id="detallesUsuario" class="border border-black"> <label>General</label> </div>
                </div>
                <div id="infoUsuario">
                    <label for="">Costo</label>
                    <div id="detallesUsuario" class="border border-black"> <label>$750</label> </div>
                </div>
                <div id="infoUsuario">
                    <label for="">Proxima fecha de vencimiento</label>
                    <div id="detallesUsuario" class="border border-black"> <label>27-Diciembre-2024</label> </div>
                </div>
                <div id="pagar">
                    <button class="btn btn-primary"
                        style="--bs-btn-padding-y: .6rem; --bs-btn-padding-x: 5rem; --bs-btn-font-size: 2rem;">
                        PAGAR MEMBRESIA
                    </button>
                </div>
            </div>
        </div>
        <footer>
            <p>
              &copy;Copyright &copy; @Marcos Ariciaga Valdez
              <br>
              &copy;Copyright &copy; @Samuel Yoshua Guzmán Gutiérrez
              <br>
              &copy;Copyright &copy; @Angel David Onesto Frias
              <br>
              &copy;Copyright &copy; @Giorgio Lissandro Tellez Barron
              <br>
              &copy;Copyright &copy; Ricardo Islas Ramirez
            </p>
          </footer>
