<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/productosStyle.css">
    <link rel="stylesheet" href="../styles/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.google.com/share?selection.family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900">

    <title>SuperGymProductos</title>
</head>

<body>

    <main>
        <div class="row">
            <!-- Columna Inicial -->
            <div class="col-md-4 mb-4">
                <div id="contenedorProducto" class="centerElement">
                    <img id="imagenProducto" src="../assets/SuperGym.png" class="img-fluid" alt="Producto 1">

                    <p id="textoProducto">Camisetas Super Gym: $200</p><br>
                </div>

                <div id="contenedorProducto" class="centerElement">
                    <img id="imagenProducto" src="../assets/proteina%20y%20brazo.webp" class="img-fluid mt-4"
                        alt="Producto 2">
                    <p id="textoProducto">Proteina Sabor Vainilla ISOFIT 950 gr $712.42<br></p>
                </div>
            </div>

            <!-- Segunda -->
            <div class="col-md-4 mb-4">
                <div id="contenedorProducto" class="centerElement">
                    <img id="imagenProducto" src="../assets/Pancke4.jpg" class="img-fluid" alt="Producto 3">
                    <p id="textoProducto">Hot Cakes 300 gr Con Fruta $299.99<br></p>
                </div>

                <div id="contenedorProducto" class="centerElement">
                    <img id="imagenProducto" src="../assets/dos%20proteinas%20y%20pesas.jpg" class="img-fluid mt-4"
                        alt="Producto 4">
                    <p id="textoProducto">Pre-entreno Psicotic: $30 la bolsita<br></p>
                </div>
            </div>

            <!-- Tercera -->
            <div class="col-md-4 mb-4">
                <div id="contenedorProducto" class="centerElement">
                    <img id="imagenProducto" src="../assets/avena.avif" class="img-fluid" alt="Producto 5">
                    <p id="textoProducto">Avenas Marca Super Gym $199.<br></p>
                </div>

                <div id="contenedorProducto" class="centerElement">
                    <img id="imagenProducto" src="../assets/pesas%20y%20proteina.jpg" class="img-fluid mt-4"
                        alt="Producto 6">
                    <p id="textoProducto">Mancuernas de 30 kg Marca Super Gym $1379<br></p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>
            &copy;Copyright &copy; @Marcos Ariciaga Valdez
            <br>
            &copy;Copyright &copy; @Samuel Yoshua Guzmán Gutiérrez
            <br>
            &copy;Copyright &copy; @Angel David Onesto Frias
            <br>
            &copy;Copyright &copy; @Giorgio Lissandro Tellez Barron
            <br>
            &copy;Copyright &copy; Ricardo Islas Ramirez
        </p>
    </footer>

    <script src="Styles/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
