body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
  }



  .card {
    border: 2px solid #000;
  }

  .card-img-top {
    max-height: 300px;
    object-fit: cover;
  }

  button {
    font-size: 1.2rem;
  }

  form .form-label {
    font-size: 1rem;
    font-weight: bold;
  }

  .list-group-item {
    font-size: 1rem;
  }

  footer{
    background-color: rgb(50, 50, 99);
    padding: 3rem;
    color: #FFFFFF;
}
